.CreatePost {
  width: 80vw;
  margin: auto;
  margin-top: 50px;
}

.textAreaComment {
  height: 100px;
  width: 100%;
  border-radius: 10px 0px 0px 10px;
  outline: none;
  padding-left: 15px;
  border-right: none;
}

.btnSubmitComment {
  border-left: none;
  border-radius: 0px 10px 10px 0px;
  outline: none;
  background-color: #213940;
  height: 100px;
  width: 150px;
  border: none;
  color: white;
  font-weight: 400;
  font-size: 25px;
  box-shadow: 1px 1px 12px #555;
  justify-content: right;
}

.formComment {
  display: flex;
  justify-content: baseline;
}
